# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

Arduino+RaspPi/RaspberryPi/.idea/misc.xml

Arduino+RaspPi/RaspberryPi/.idea/modules.xml

Arduino+RaspPi/RaspberryPi/.idea/RaspberryPi.iml

Arduino+RaspPi/RaspberryPi/.idea/workspace.xml
